.button {
    background-color: #278de0;
    border-radius: 6px;
    border: 4px;
    color: white;
    font-weight: bold;    
    width: 90px;
    height: 46px;
    position: relative;
    bottom: 43px;
    left: 105px;
  }
  .description-new-task{
    background-color: #ffffff; /* Green */
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-weight: bold;
 width: 300px;
 height: 40px;
 position: relative;
 bottom: 25px;
 left: 100px;

  }
  