.todo-results {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 0px 0;
  margin-bottom: 10px;
}
.count{
  position: relative;
  position: relative;
  left: 40px;
  bottom: 24px;
}